@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
.title-card{
    text-align: center;
    height: 50px;
    align-items: center;
    opacity: 70%;
}
.title-card h1{
    font-family: 'Roboto Slab', serif;
    font-size: x-large;
    color: black    ;
    margin: auto;
    width: 50%;
    padding: 10px;
}