.theme-form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.theme-form-container .form-group {
  margin-bottom: 15px;
}

.theme-form-container label {
  display: block;
  font-weight: bold;
}

.theme-form-container input[type="text"],
.theme-form-container textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.theme-form-container button {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.theme-form-container button:hover {
  background-color: #0056b3;
}
.buttons-container {
  display: flex;
  justify-content: space-evenly; /* This will evenly space the buttons horizontally */
  margin-top: 20px; /* Adjust as needed */
}

.button {
  /* Your button styles */
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}